.content {
    height: 100vh;
    background: rgb(20, 20, 20);
}

.register-form {
    position: relative;
    width: 350px;
    height: auto;
    top: 150px;
    margin: 0 auto;
    background: rgb(34, 34, 34);
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
}

.register-container {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0 0 0;
}

label {
    float: left;
    margin: 15px 0px 0px 0px;
    font-size: 22px;
}

input {
    width: 100%;
    margin: 5px 0px 10px 0px;
    background: transparent;
    color: #ffffff;
    border: none;
    border-bottom: 2px solid #E50A14;
    font-size: 18px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input:focus {
    outline:0;
}

.register-btn {
    width: 100%;
    margin: 20px 0px 30px 0px;
}

.sticky {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.sticky p {
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.sticky a {
    text-decoration: none;
    color: #E50A14;
}

.sticky a:hover {
    color: rgb(187, 10, 19);
}